<%= form_with(model: [@count, movement]) do |form| %>
  <%= form.hidden_field :count_id, value: @count.id %>
  <%= form.hidden_field :movement_type, value: movement.movement_type %>
  <%= form.hidden_field :modal_id, value: modal_id %>

  <% if movement.movement_type == 'out' %>
    <div class="my-4 mx-2 mx-sm-4">
      <%= form.label :expense_item_id, 'Voce di spesa', class: "font-weight-bold" %>
      <%= form.select :expense_item_id,
                      options_for_select(expense_items, movement.expense_item_id),
                      { include_blank: 'Seleziona una voce di spesa' },
                      class: 'form-control'
      %>
    </div>
  <% end %>

  <div class="my-4 mx-2 mx-sm-4">
    <%= form.label :emitted_at, 'Data', class: "font-weight-bold" %>
    <%= form.date_field :emitted_at, attribute: 'date', class: "form-control" %>
  </div>

  <div class="my-4 mx-2 mx-sm-4">
    <%= form.label :causal, 'Causale', class: "font-weight-bold" %>
    <%= form.text_field :causal, class: "form-control" %>
  </div>

  <div class="my-4 mx-2 mx-sm-4">
    <%= form.label :amount, 'Importo', class: "font-weight-bold" %>
    <%= form.number_field :amount, step: :any, class: "form-control" %>
  </div>

  <div class="my-4 mx-2 mx-sm-4 d-flex justify-content-center justify-content-sm-end">
    <%= form.button :submit, class: 'btn btn-success' do %>
      Salva
    <% end %>
  </div>
<% end %>
