<div id="<%= dom_id movement %>">
  <p>
    <strong>Count:</strong>
    <%= movement.count_id %>
  </p>

  <p>
    <strong>Expense item:</strong>
    <%= movement.expense_item_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= movement.amount %>
  </p>

  <p>
    <strong>Causal:</strong>
    <%= movement.causal %>
  </p>

  <p>
    <strong>Movement type:</strong>
    <%= movement.movement_type %>
  </p>

  <p>
    <strong>Emitted at:</strong>
    <%= movement.emitted_at %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= movement.year %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= movement.month %>
  </p>

</div>
