<div class="v2-mov-cell <%= movement.movement_type == 'out' ? 'out-cell' : '' %>"
     id="movement_<%= movement.id %>"
     style="--mov-color: <%= movement.expense_item&.color || 'transparent' %>">
  <div class="v2-mov-date"><%= parse_date(movement.emitted_at, '%d.%m.%y') %></div>
  <div class="v2-mov-causal"
       data-bs-toggle="modal"
       data-bs-target="#movementEditingModal_<%= movement.id %>">
    <%= movement.causal %>
  </div>
  <div class="v2-mov-amount <%= movement.movement_type %>">
    <span class="d-inline d-lg-none"><%= movement.movement_type == 'in' ? '+' : '-' %></span><%= to_visible_amount(movement.amount) %>&euro;
  </div>
</div>
