<div class="v2-membership-item" id="membership_<%= membership.id %>">
  <div class="v2-membership-info">
    <span class="v2-membership-name"><%= membership.username %></span>
    <span class="v2-membership-role"><%= italian_role(membership.role) %></span>
  </div>
  <div class="v2-membership-actions">
    <button type="button"
            class="v2-btn-icon"
            title="Modifica ruolo"
            data-bs-toggle="modal"
            data-bs-target="#membershipEditingModal_<%= membership.id %>">
      <svg class="ico ico-sm" viewBox="0 0 24 24"><path d="M17 3a2.83 2.83 0 114 4L7.5 20.5 2 22l1.5-5.5z"/></svg>
    </button>

    <button type="button"
            class="v2-btn-icon danger"
            title="Rimuovi"
            data-bs-toggle="modal"
            data-bs-target="#membershipDeleteModal_<%= membership.id %>">
      <svg class="ico ico-sm" viewBox="0 0 24 24"><path d="M3 6h18M8 6V4a2 2 0 012-2h4a2 2 0 012 2v2"/><path d="M19 6l-1 14a2 2 0 01-2 2H8a2 2 0 01-2-2L5 6"/></svg>
    </button>
  </div>
</div>
