<div class="d-flex justify-content-between align-items-center mx-2 mx-xl-4 my-2" id="deadline_<%= deadline.id %>">
  <div class="d-flex align-items-center">
    <div>
      <strong><%= parse_date(deadline.expired_at, "%d") %> <%= italian_month(deadline.month) %>:</strong>
    </div>

    <div class="mx-2"><%= deadline.description %></div>
  </div>

  <div class="d-flex align-items-center">
    <button type="button" class="btn btn-link text-secondary text-decoration-none mx-1 p-0" data-bs-toggle="modal" data-bs-target="#deadlineEditingModal_<%= deadline.id %>">
      <i class="fas fa-fw fa-edit"></i>
    </button>

    <%= button_to deadline, method: :delete, class: "btn btn-link text-danger text-decoration-none p-0" do %>
      <i class="fas fa-fw fa-trash"></i>
    <% end %>
  </div>

  <!-- Modale per la cancellazione / modifica di una scadenza -->
  <%= render "modal",
             modal_id: "deadlineEditingModal_#{deadline.id}",
             title: "Modifica scadenza",
             deadline: deadline
  %>
</div>
