<%= form_with(model: deadline) do |form| %>
  <%= form.hidden_field :modal_id, value: modal_id %>

  <div class="m-4">
    <%= form.label :description, 'Descrizione', class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="m-4">
    <%= form.label :expired_at, 'Data', class: "form-label" %>
    <%= form.date_field :expired_at, attribute: 'date', class: "form-control" %>
  </div>

  <div class="my-4 mx-2 mx-sm-4 d-flex justify-content-center justify-content-sm-end">
    <%= form.button :submit, class: 'btn btn-success' do %>
      Salva
    <% end %>
  </div>
<% end %>


