<%= form_with(model: deadline) do |form| %>
  <%= render 'layouts/error_messages', obj: form.object %>

  <div class="m-4">
    <%= form.label :description, 'Descrizione', class: "font-weight-bold" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="m-4">
    <%= form.label :expired_at, 'Data', class: "font-weight-bold" %>
    <%= form.date_field :expired_at, attribute: 'date', class: "form-control" %>
  </div>

  <div class="m-4">
    <%= form.button :submit, class: 'btn btn-success' do %>
      Salva
    <% end %>
  </div>
<% end %>


