

<div class="d-flex flex-wrap justify-content-around align-items-end px-2 px-lg-4 my-5">
  <%= search_form_for @search do |f| %>
    <div class="d-flex flex-wrap justify-content-center align-items-end">
      <div class="form-group d-block pl-3 pb-3 mb-0 mx-2">
        <%= f.label :description_cont, 'Descrizione', class: 'font-weight-bold' %>
        <%= f.text_field :description_cont, placeholder: 'Filtra per descrizione', class: 'form-control' %>
      </div>

      <div class="form-group d-block pl-3 pb-3 mb-0 mx-2">
        <%= f.label :year_eq, 'Mese', class: 'font-weight-bold' %>
        <%= f.select :year_eq,
                     options_for_select(((Deadline.minimum('year') || Time.now.year)..(Deadline.maximum('year') || Time.now.year)).map{ | year | [year, year] }, @search.year_eq),
                     { include_blank: "Qualsiasi anno" },
                     class: 'form-control'
        %>
      </div>

      <div class="form-group d-block pl-3 pb-3 mb-0 mx-2">
        <%= f.label :month_eq, 'Mese', class: 'font-weight-bold' %>
        <%= f.select :month_eq,
                     options_for_select(italian_months_for_select, @search.month_eq),
                     { include_blank: "Qualsiasi mese" },
                     class: 'form-control'
        %>
      </div>

      <div class="pb-3 d-flex">
        <button type="submit" class="btn btn-success mx-2">
          <i class="fas fa-search"></i> Cerca
        </button>

        <%= link_to deadlines_path, class: "btn btn-primary mx-2" do %>
          <i class="fas fa-filter" aria-hidden="true"></i> Reset
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-center">
    <%= link_to deadlines_path(q: params[:q]&.to_unsafe_h, format: :xlsx), class: "btn btn-warning mb-3 mx-2 text-white" do %>
      <i class="fas fa-download" aria-hidden="true"></i> Export xls
    <% end %>

    <button type="button" class="btn btn-success mb-3 mx-2" data-bs-toggle="modal" data-bs-target="#deadlineCreationModal">
      Nuova scadenza
    </button>
  </div>
</div>





<div id="deadlines">
  <% @deadlines_by_year.keys.each do | year | %>
    <div class="mx-2 mx-md-5 my-5">
      <h4 class="text-secondary"><%= year %></h4>
      <% @deadlines_by_year[year].each do | deadline | %>
        <%= render deadline %>
      <% end %>
    </div>
  <% end %>
</div>



<!-- Modale per la creazione di un nuovo movimento di cassa -->
<%= render "modal",
           modal_id: "deadlineCreationModal",
           title: "Aggiungi una nuova scadenza",
           deadline: Deadline.new
%>
