<%= form_with model: user, url: path, method: method do |form| %>
  <%= form.hidden_field :modal_id, value: modal_id %>

  <div class="m-4">
    <%= form.label :first_name, 'Nome', class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="m-4">
    <%= form.label :last_name, 'Cognome', class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>


  <div class="m-4">
    <%= form.label :email, 'Email', class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>


  <div class="m-4">
    <%= form.label :password, 'Password', class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>


  <div class="m-4">
    <%= form.label :role, 'Ruolo', class: "form-label" %>
    <%= form.select :role,
                    options_for_select(all_user_roles_for_select, user.role),
                    { include_blank: 'Nessun ruolo particolare' },
                    class: 'form-control'
    %>
  </div>


  <div class="my-4 mx-2 mx-sm-4 d-flex justify-content-center justify-content-sm-end">
    <%= form.button :submit, class: 'btn btn-success' do %>
      Salva
    <% end %>
  </div>
<% end %>

