
<div class="container-fluid d-flex justify-content-center" id="login-form-container">
  <div class="row w-100 pt-5">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4 mx-auto pt-5">
      <div class="login-card mt-5">
        <div class="login-card-header">
          <h4 class="text-center mb-0 text-white">Accedi</h4>
        </div>

        <div class="login-card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row mx-2">
              <div class="col-12">
                <div class="my-3 mx-1">
                  <%= f.label :email, 'Email', class: "form-label" %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>
              </div>

              <div class="col-12">
                <div class="my-3 mx-1">
                  <%= f.label :password, 'Password', class: "form-label" %>
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="my-3 d-flex justify-content-center">
              <%= f.submit "ACCEDI", class: "btn btn-gradient-primary px-5 py-2" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
