<div class="expense-item-card" id="expense_item_<%= expense_item.id %>">
  <div class="expense-item-card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center expense-info-container">
        <div class="expense-color-box" style="background-color: <%= expense_item.color %>">
        </div>
        <h6 class="mb-0 ms-2 text-white"><%= expense_item.description %></h6>
      </div>
      <div class="d-flex gap-1">
        <button type="button" class="btn expense-action-btn expense-edit-btn" data-bs-toggle="modal" data-bs-target="#expense_itemEditingModal_<%= expense_item.id %>" title="Modifica">
          <i class="fas fa-edit"></i>
        </button>
        <% if expense_item.movements.blank? %>
          <%= button_to organization_expense_item_path(@organization, expense_item), method: :delete, class: "btn expense-action-btn expense-delete-btn", title: "Elimina" do %>
            <i class="fas fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modale per la cancellazione / modifica di una voce di spesa -->
<div id="expense_item_modal_<%= expense_item.id %>">
  <%= render "modal",
             modal_id: "expense_itemEditingModal_#{expense_item.id}",
             title: "Modifica voce di spesa",
             expense_item: expense_item
  %>
</div>
