<div class="d-flex mx-2 mx-md-5 my-5 justify-content-between align-items-center" id="<%= dom_id expense_item %>">
  <div class="d-flex align-items-center">
    <div class="border border-dark rounded" style="width: 35px; height: 35px; background-color: <%= expense_item.color %>">
    </div>

    <div class="mx-2"><%= expense_item.description %></div>
  </div>

  <div class="d-flex align-items-center">
    <button type="button" class="btn btn-link text-secondary text-decoration-none mx-1 p-0" data-bs-toggle="modal" data-bs-target="#expense_itemEditingModal_<%= expense_item.id %>">
      <i class="fas fa-fw fa-edit"></i>
    </button>

    <% if expense_item.movements.blank? %>
      <%= button_to expense_item, method: :delete, class: "btn btn-link text-danger text-decoration-none mx-3 p-0" do %>
        <i class="fas fa-fw fa-trash"></i>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Modale per la cancellazione / modifica di una voce di spesa -->
<%= render "modal",
           modal_id: "expense_itemEditingModal_#{expense_item.id}",
           title: "Modifica voce di spesa",
           expense_item: expense_item
%>
