<%= form_with(model: [@organization, expense_item]) do |form| %>
  <%= form.hidden_field :organization_id, value: @organization.id %>
  <%= form.hidden_field :modal_id, value: modal_id %>

  <div class="m-4">
    <%= form.label :description, 'Descrizione', class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="m-4">
    <%= form.label :color, 'Scegli un colore', class: "form-label" %>
    <%= form.color_field :color, value: expense_item.color || "#FFFFFF", class: "form-control" %>
  </div>

  <div class="mt-4 mb-5 d-flex flex-wrap justify-content-between">
    <button type="button" class="btn btn-secondary mx-2 mx-sm-4 my-2" data-bs-dismiss="modal">Annulla</button>

    <%= form.button :submit, class: 'btn btn-success mx-2 mx-sm-4 my-2' do %>
      Salva
    <% end %>
  </div>
<% end %>

