<%= form_with(model: expense_item) do |form| %>
  <%= render 'layouts/error_messages', obj: form.object %>

  <div class="m-4">
    <%= form.label :description, 'Descrizione', class: "font-weight-bold" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="m-4">
    <%= form.label :color, 'Colore (esadecimale)', class: "font-weight-bold" %>
    <%= form.text_field :color, class: "form-control" %>
  </div>

  <div class="m-4">
    <%= form.button :submit, class: 'btn btn-success' do %>
      Salva
    <% end %>
  </div>
<% end %>

