<%= form_with(model: expense_item) do |form| %>
  <%= form.hidden_field :modal_id, value: modal_id %>

  <div class="m-4">
    <%= form.label :description, 'Descrizione', class: "font-weight-bold" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="m-4">
    <%= form.label :color, 'Scegli un colore', class: "font-weight-bold" %>
    <%= form.color_field :color, value: expense_item.color || "#FFFFFF", class: "form-control" %>
  </div>

  <div class="my-4 mx-2 mx-sm-4 d-flex justify-content-center justify-content-sm-end">
    <%= form.button :submit, class: 'btn btn-success' do %>
      Salva
    <% end %>
  </div>
<% end %>

