<h4 class="d-flex d-lg-none m-4">Voci di Spesa</h4>

<% if @expense_items.present? || params[:q].present? %>
  <%= search_form_for @search do |f| %>
    <div class="d-flex flex-wrap justify-content-center align-items-end px-x px-lg-4 mb-5 mt-3">
      <div class="form-group d-block pl-3 pb-3 mb-0 mx-2">
        <%= f.label :description_cont, 'Descrizione', class: 'font-weight-bold' %>
        <%= f.text_field :description_cont, placeholder: 'Filtra per descrizione', class: 'form-control' %>
      </div>

      <div class="pb-3 d-flex">
        <button type="submit" class="btn btn-success mx-2">
          <i class="fas fa-search"></i> Cerca
        </button>

        <%= link_to expense_items_path, class: "btn btn-primary mx-2" do %>
          <i class="fas fa-filter" aria-hidden="true"></i> Reset
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<div id="expense_items">
  <% @expense_items.each do |expense_item| %>
    <%= render expense_item %>
  <% end %>
</div>

<div class="d-flex justify-content-center justify-content-lg-end my-5 mx-4">
  <%= link_to "Nuova voce di spesa", new_expense_item_path, class: "btn btn-success" %>
</div>
