<div class="rounded border shadow mx-2 mx-md-4 my-4 px-4 pb-4 pt-1" id="<%= dom_id count %>">
  <div class="d-flex justify-content-end align-items-end mb-4 mb-sm-0">
    <%= link_to edit_count_path(count), class: "text-secondary text-decoration-none" do %>
      <i class="fas fa-fw fa-edit"></i>
    <% end %>

    <% if count.movements.blank? %>
      <%= button_to count, method: :delete, class: "btn btn-link text-danger text-decoration-none mx-3 p-0" do %>
        <i class="fas fa-fw fa-trash"></i>
      <% end %>
    <% end %>
  </div>

  <h4 class="my-0">
    <%= link_to count.name, count.default_path, class: "text-dark text-decoration-none" %>
  </h4>

  <h6 class=""><%= count.description %></h6>
  <h6 class="my-0 text-secondary"><%= count.iban %></h6>
</div>
