<div class="rounded shadow border border-secondary bg-white my-4 px-3 px-md-5 py-2" id="count_<%= count.id %>">
  <h4 class="mb-0">
    <%= link_to count.name, count.movements_default_path, class: "text-dark text-decoration-none" %>
  </h4>

  <h6 class=""><%= count.description %></h6>
  <h6 class="mt-4 mb-0 text-secondary">
    <% if count.iban.present? %>
      <span id="count_<%= count.id %>_iban"><%= count.iban %></span>
      <i class="fas fa-copy"
         role="button"
         id="<%= count.id %>"
         onclick="((event) => { navigator.clipboard.writeText(document.querySelector(`#count_${event.target.id}_iban`).innerHTML?.trim()) })(event)"
      ></i>
    <% end %>
  </h6>
  <h6 class="my-0 text-secondary">Giacenza attuale: <%= to_visible_amount(count.current_amount) %>€</h6>

  <div class="d-flex justify-content-end align-items-end mb-0">
    <button type="button" class="btn btn-link text-secondary text-decoration-none p-0" data-bs-toggle="modal" data-bs-target="#countEditingModal_<%= count.id %>">
      <i class="fas fa-fw fa-edit"></i>
    </button>

    <% if count.movements.blank? %>
      <%= button_to count, method: :delete, class: "btn btn-link text-danger text-decoration-none ml-3 p-0" do %>
        <i class="fas fa-fw fa-trash"></i>
      <% end %>
    <% end %>
  </div>

  <!-- Modale per la cancellazione / modifica di un conto corrente -->
  <%= render "modal",
             modal_id: "countEditingModal_#{count.id}",
             title: "Modifica conto",
             count: count
  %>
</div>
