<%= form_with(model: [@organization, count]) do |form| %>
  <%= form.hidden_field :organization_id, value: @organization.id %>
  <%= form.hidden_field :modal_id, value: modal_id %>

  <div class="m-4">
    <%= form.label :name, 'Nome', class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="m-4">
    <%= form.label :description, 'Descrizione (opzionale)', class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="m-4">
    <%= form.label :count_type, 'Tipo', class: "form-label" %>
    <%= form.select :count_type,
                    options_for_select(count_types_for_select, count.count_type),
                    { include_blank: 'Specifica il tipo di conto' },
                    class: 'form-control'
    %>
  </div>

  <div class="m-4">
    <%= form.label :iban, 'Codice IBAN', class: "form-label" %>
    <%= form.text_field :iban, class: "form-control" %>
  </div>

  <div class="m-4">
    <%= form.label :monitoring_scope, 'Monitoraggio', class: "form-label" %>
    <%= form.select :monitoring_scope,
                    options_for_select(monitoring_scopes_for_select, count.monitoring_scope),
                    { include_blank: false },
                    class: 'form-control'
    %>
  </div>

  <div class="m-4">
    <%= form.label :initial_amount, 'Giacenza Iniziale', class: "form-label" %>
    <%= form.number_field :initial_amount, step: :any, class: "form-control" %>
  </div>

  <div class="m-4">
    <%= form.label :ordering_number, 'Ordinamento', class: "form-label" %>
    <%= form.number_field :ordering_number, class: "form-control" %>
  </div>

  <div class="my-4 mx-2 mx-sm-4 d-flex justify-content-center justify-content-sm-end">
    <%= form.button :submit, class: 'btn btn-success' do %>
      Salva
    <% end %>
  </div>
<% end %>
