<h4 class="d-flex d-lg-none m-4">Conti corrente</h4>

<% if @counts.present? || params[:q].present? %>
  <%= search_form_for @search do |f| %>
    <div class="d-flex flex-wrap justify-content-center align-items-end px-x px-lg-4 mb-5 mt-3">
      <div class="form-group d-block pl-3 pb-3 mb-0 mx-2">
        <%= f.label :name_cont, 'Nome', class: 'font-weight-bold' %>
        <%= f.text_field :name_cont, placeholder: 'Filtra per nome', class: 'form-control' %>
      </div>

      <div class="pb-3 d-flex">
        <button type="submit" class="btn btn-success mx-2">
          <i class="fas fa-search"></i> Cerca
        </button>

        <%= link_to counts_path, class: "btn btn-primary mx-2" do %>
          <i class="fas fa-filter" aria-hidden="true"></i> Reset
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<div id="counts" class="d-block">
  <h5 class="d-flex mx-2 mx-md-4 my-4">Giacenza complessiva attuale: <%= @counts_global_amount %>€</h5>

  <% @counts.each do | count | %>
    <%= render count %>
  <% end %>
</div>



<div class="d-flex justify-content-center justify-content-lg-end my-5 mx-4">
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#countCreationModal">
    Nuovo conto corrente
  </button>
</div>

<!-- Modale per la creazione di un nuovo movimento di cassa -->
<div class="modal fade" id="countCreationModal" tabindex="-1" aria-labelledby="countCreationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title fs-5" id="countCreationModalLabel">Aggiungi conto corrente</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="new_count_error_messages"></div>

        <%= render "form", count: @new_count %>
      </div>
    </div>
  </div>
</div>
