<%= form_with(model: organization) do |form| %>
  <%= form.hidden_field :modal_id, value: modal_id %>

  <div class="row mx-2">
    <div class="col-12">
      <div class="my-3 mx-1">
        <%= form.label :name, 'Nome', class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="my-3 d-flex flex-wrap justify-content-between">
    <button type="button" class="btn btn-outline-secondary mx-2 mx-sm-3 my-2 px-3" data-bs-dismiss="modal">ANNULLA</button>

    <%= form.button :submit, class: 'btn btn-gradient-primary mx-2 mx-sm-3 my-2 px-4' do %>
      SALVA
    <% end %>
  </div>
<% end %>

