<div class="container-fluid pt-2">
  <div class="accordion rounded shadow border border-secondary bg-light-gray mb-4" id="filtersAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button bg-light-gray" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <b>Filtri</b>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#filtersAccordion">
        <div class="accordion-body bg-light-gray d-flex flex-wrap justify-content-around align-items-end border-top border-secondary pb-0">
          <%= search_form_for @search, url: stats_organization_path(id: @organization.id) do |f| %>
            <div class="d-flex flex-wrap justify-content-center align-items-end px-x px-lg-4">
              <div class="form-group d-block pl-3 pb-3 mb-0 mx-2">
                <%= f.label :year_eq, 'Anno', class: "form-label" %>
                <%= f.select :year_eq,
                             options_for_select(@years_range.map{ | year | [year, year] }, @search.year_eq),
                             { include_blank: "Tutti gli anni" },
                             class: 'form-control'
                %>
              </div>

              <div class="form-group d-block pl-3 pb-3 mb-0 mx-2">
                <%= f.label :count_id_eq, 'Conto', class: "form-label" %>
                <%= f.select :count_id_eq,
                             options_for_select(@organization.counts.map{ | count | [count.name, count.id] }, @search.count_id_eq),
                             { include_blank: "Tutti i conti" },
                             class: 'form-control'
                %>
              </div>

              <div class="pb-3 d-flex">
                <button type="submit" class="btn btn-success mx-2">
                  <i class="fas fa-search"></i> Cerca
                </button>

                <%= link_to stats_organization_path(id: @organization.id), class: "btn btn-primary mx-2" do %>
                  <i class="fas fa-filter" aria-hidden="true"></i> Reset
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>



  <!-- SEZIONE DEDICATI AI GRAFICI -->
  <%= render 'layouts/charts',
             entity: @organization,
             count: @count,
             year: @year,
             final_amounts_by_date: @final_amounts_by_date,
             in_out_global_amounts: @in_out_global_amounts,
             movements_global_amount_by_expense_items: @movements_global_amount_by_expense_items,
             movements_max_amount: @movements_max_amount,
             min_year: @organization.min_year,
             max_year: @organization.max_year,
             movements_global_amount_by_counts: @movements_global_amount_by_counts,
             savings_global_amount_by_counts: @savings_global_amount_by_counts
  %>
</div>

